/* dashboard.css */

.dashboard {
  font-family: Arial, sans-serif;
  background-color: #F7F6F2;
  padding: 20px;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #821131;
  padding: 10px;
  border: 1px solid #821131;
}

.navbar span {
  font-weight: bold;
  color: #FFF;
}

.search-button {
  background-color: #E85C0D;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: #821131;

}

.map-section {
  flex: 1 1 30%;
}

.map-placeholder {
  background-color: #DDD;
  padding: 10px;
  border: 1px solid #AAA;
  text-align: center;
}

.charts-section, .horarios-section {
  flex: 1 1 30%;
}

.chart-container {
  margin-top: 15px;
}
  